<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340795270204-bubhopko2t186kpoq0c5iqf3j6e041uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340795270204-bubhopko2t186kpoq0c5iqf3j6e041uj</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0rbVOAsdkLAhQ3ekUV4XhmwQ9jQgdW4</string>
	<key>GCM_SENDER_ID</key>
	<string>340795270204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oz11.FirebasePushNoti</string>
	<key>PROJECT_ID</key>
	<string>fir-pushnoti-b96fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushnoti-b96fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340795270204:ios:56c46248e2007de4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pushnoti-b96fc.firebaseio.com</string>
</dict>
</plist>